html{ 
	height:100%
}
h1{
	font-weight: bold;
	color:#eeeeee;
	font-family: sans-serif; 
}


.body-text{
	margin-top: 10%;
	margin-left: 10%;
	margin-right:10%;
	border-style: ridge;
	border-color: #645844;
	font-weight: normal;
	font-family: serif;
	font-size: 22px;
}
.Header {
  background: #d8d1c6;
  text-align: center;
  float: center;
  padding: 10px 0;
  border-top: 2px solid #645844;
  border-bottom: 2px solid #645844;
  text-decoration: none;
  color: #222;
  font-weight: bold;
  
}
.PDF{
	text-decoration: none;
	color:black;
}
.construction{
	width:80%;
	height:80%;
	
}
a:hover,
a:active,
a:focus {
  background: #2fc4c6;
}
.desktop {
  display: block;
  overflow: hidden;
}
.desktop a {
  width: 16%;
  float: left;
  border-right: 10px solid #d8d1c6;
  border-left: 10px solid #d8d1c6;
  box-sizing: border-box;
}
.desktop a:last-child {
  border-right: none;
}

h2{
	
	
}



body{
 background-color: #d8d1c6;
}



